<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zsh.springboot.mybatisplus.multids.ds1.dao.ShareBalanceDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="zsh.springboot.mybatisplus.multids.ds1.model.ShareBalance">
        <id column="id" property="id" />
        <result column="share_id" property="shareId" />
        <result column="share_amount" property="shareAmount" />
        <result column="share_holder_id" property="shareHolderId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
